@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

body {
  font-family: 'Nunito Sans', sans-serif;
}

.input-field {
  border: 1px solid rgb(190, 190, 190);
  width: 100%;
  padding: 0.6rem;
  margin: 5px;
  border-radius: 3px;
  font-size: 0.875rem;
}

.height-40 {
  height: 40rem;
}

.height-20 {
  height: 20rem;
}

.height-15 {
  height: 15rem;
}

.height-10 {
  height: 10rem;
}

.button-outline {
  border: 1px solid;
  padding: 11px 20px;
  border-radius: 2px;
  cursor: pointer;
  margin: 5px;
}

.header-background {
  background-image: url('https://images.unsplash.com/photo-1559762691-617a33825bc6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjExMDk0fQ&auto=format&fit=crop&w=1350&q=80');
}

.plain-background {
  background-image: url('https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
}

.opacity-slight {
  background-color: rgba(0,0,0,0.3)
}

.notification {
  display: inline-block;
  padding: 0.5rem 4rem;
  margin: 2px 0;
  border-radius: .25rem;
  color: white;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}

.StripeElement {
  border: 1px solid rgb(190, 190, 190);
  width: 100%;
  padding: 0.6rem;
  margin: 5px;
  border-radius: 3px;
  font-size: 0.875rem;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#card-errors {
  color: #fa755a;
}

.pagination {
  display: flex;
  background: rgb(248, 248, 248);
  height: 40px;
  align-items: center;
  border-radius: 0.25rem;
  overflow: hidden;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.pagination>.active, .pagination>.active>a, .pagination>.active>li, .pagination>.active>span {
  background: rgb(212, 212, 212);
  font-weight: bolder;
  cursor: pointer;
}

.page-item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-link {
  height: 100%;
  padding: 0 14px;
  display: flex;
  align-items: center;
  color: gray;
  font-size: 0.9em;
  transition-duration: 200ms;
}

.page-link:hover {
  background: rgb(89, 223, 223);
  color: white;
  font-weight: bold;
}

.active {
  color: teal;
  font-weight: bolder;
}
